<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="description" content="jr-qrcode demo with webpack">
    <title>jr-qrcode demo with webpack</title>
    <!-- 打包后，css引用会自动加在这里 -->
</head>
<body>
    <header id="headerWrap"></header>
    <div id="contentWrap" style="padding-top: 50px;">
        <input type="text" id="inputText" />
        <input type="button" id="btnOk" value="Generate"/>
        <div><img id="imgQrCode"></div>
    </div>

    <!-- 打包后，js引用会自动加在这里 -->
<script type="text/javascript" src="../common.js?3369c978efd6ccaacc3f"></script><script type="text/javascript" src="../Index.js?3369c978efd6ccaacc3f"></script></body>
</html>
